# Added by Payload
DATABASE_URI=your-connection-string-here # Append the name of the database after the connection string
PAYLOAD_SECRET=YOUR_SECRET_HERE

NEXT_PUBLIC_WEBSITE_URL=ABC
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000

NODE_ENV=development

# STRIPE
STRIPE_SECRET_KEY=your-stripe-secret-key-here
STRIPE_WEBHOOK_SECRET=your-stripe-secret-key-here
# stripe listen --forward-to localhost:3000/api/stripe/webhooks