# Added by Payload
DATABASE_URI=your-connection-string-here
PAYLOAD_SECRET=YOUR_SECRET_HERE

NEXT_PUBLIC_WEBSITE_URL=ABC

NODE_ENV=development

# STRIPE
STRIPE_SECRET_KEY=your-stripe-secret-key-here
STRIPE_WEBHOOK_SECRET=your-stripe-secret-key-here